<% layout('layouts/boilerplate')%>
<h1>Edit Spot</h1>
<form action="/touristspots/<%=spot._id%>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="touristspot[title]" id="title" value="<%=spot.title%>">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="touristspot[location]" id="location" value="<%=spot.location%>">
    </div>
    <button>Update Tourist Spot</button>
</form>

<a href="/touristspots/<%=spot._id%>">Back to Spot</a>