<% layout('layouts/boilerplate')%>
<h1>All Tourist Spots</h1>
<div>
    <a href="/touristspots/new">Add new tourist spot</a>
</div>
<ul>
    <% for(let spot of spots) {%>
        <li>
            <a href="/touristspots/<%=spot._id%>"><%= spot.title %></a>
        </li>
    <%}%>
</ul>