<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Spot</title>
</head>
<body>
    <form action="/touristspots" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="touristspot[title]" id="title">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="touristspot[location]" id="location">
        </div>
        <button>Add Tourist Spot</button>
    </form>

    <a href="/touristspots">All Spots</a>
</body>
</html>